.navbar {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    background-color: lightgreen;
    margin-top: 0;
    top: 0px;
    right: 0px; 
    left: 0px;
  }
  
.navItem {
    margin-right: 10px;   
}
  
.navLink {
    color: gray;
    text-decoration: none;
}
  
.profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
