.container {
    margin-top: auto;
    background-color: #f2f2f2;
    z-index: 9999; /* Ensure the footer appears above other elements */
}
  
.list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f2f2f2;
    margin: 0;
} 
  
.listItem {
    margin: 0 10px;
}
  
.listItem:hover {
    text-decoration: underline;
}
  
.listItem:not(:last-child)::after {
    content: '|';
    margin-left: 10px;
    color: #555555;
}
  
  /* Add media queries to adjust the footer for smaller screens */
@media (max-width: 768px) {
    .container {
      position: relative; /* Change position to relative for smaller screens */
    }
}
  