.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}
  
.item {
    width: calc(33.33% - 1rem);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}
  
.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: rgb(55, 102, 117);
}
  
.subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
}
  
.description {
    font-size: 0.9rem;
    color: #333;
}
  

.item a {
    text-decoration: none;
}
  
/* Change the link color on hover */
.item:hover {
    color: gray;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);    
}
  
/* Remove the focus outline */
.item a:focus {
    outline: none;
}
  