.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #dde0ec;
  box-sizing: border-box; /* Include padding in the container's width */
  height: 500px;
  padding-top: 20px;
}

.column {
  flex-direction: column;
  border: 5px solid black; /* Add black right border */
  /* Add spacing between columns */
  box-sizing: border-box; /* Include padding in the column's width */
  align-content: center;
  border-radius: 20px;
}



@media (min-width: 768px) {
  .column {
    flex-basis: calc(50% - 40px); /* Adjust the flex-basis value based on the desired spacing */
    margin-right: 20px;
    margin-bottom: 0;
    padding-right: 20px;
  }
  
  .column:nth-child(n+1) {
    margin-right: 0; /* Reset margin-right for odd columns */
  }
}

@media (min-width: 1024px) {
  .column {
    flex-basis: calc(33.33% - 40px); /* Adjust the flex-basis value based on the desired spacing */
    margin-right: 20px;
    padding-right: 20px;
  }

  .column:last-child {
    margin-right: 0; /* Remove margin-right for last column */
  }
}
