.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #D7F0FF;
    margin-top: 0;
    top: 0px;
    right: 0px; 
    left: 0px;
    height: 100px;
  }
  
.navItem {
    margin-right: 10px;   
    font: Fraunces;

}

.navItem:hover {
    text-decoration: underline;
}
  
.navLink {
    color: gray;
    text-decoration: none;
}
  
.profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navBarLogo {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    
}

.navbarRightGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}