.container {
    display: grid;
    border: 2px solid blue;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-areas: 
        "a b c d e"
        "f g h i j"
        "k l m n o"
        "p q r s t"
        "u v w x y";
}

.boxSets {
    grid-area: e;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100px;
}

.boxUserInfo {
    grid-area: f;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 200px;
}

.boxTraderServices {
    grid-area: q;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 200px;
}

.boxPrevwork {
    grid-area: m;
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 200px;
}