.container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: #f0f2f0;
    box-shadow: 10px 10px 5px lightblue;
}

.TradButton {
    margin-right: 20px;
    background-color: #4DD22D;
    border: 2px solid #4DD22D;
    border-radius: 15px;
}

.CustButton {
    margin-left: 20px;
    background-color: #00C2FF;
    border: 2px solid #00C2FF;
    border-radius: 15px;
}

.TradButton:hover {
    background-color: #71DB57;
    border: 2px solid #71DB57;
}

.CustButton:hover {
    background-color: #33CEFF;
    border: 2px solid #33CEFF;
}